/**
 * @author : ShEnUx
 * @time : 09:39 PM
 * @date : 2/12/2023
 * @since : 0.1.0
 **/
/*
*Import Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: Ubuntu, sans-serif!important;
    font-weight: normal;
    box-sizing: border-box;
}

/**
 * Customized Scrollbar.
 */
::-webkit-scrollbar {
    width: 6px;
    background: #3f3838;
}

::-webkit-scrollbar-thumb {
    background: #b88962;
}

.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrapper{
    width: 450px;
    height: 236px;
    padding: 5px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px;
    border-radius: 0.5rem;
    transition: height 0.2s ease;
}

.wrapper.active {
    height: 480px;
}

.wrapper .upload-box{
    height: 225px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #afafaf;
}
.wrapper.active .upload-box{
    border: none;
}

.upload-box p{
    font-size: 1.06rem;
    margin-top: 20px;
}

.wrapper.active .upload-box p{
    display: none;
}

.wrapper.active .upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px!important;
}

.wrapper .details{
    opacity: 0;
    margin-top: 28px;
    pointer-events: none;
}

.wrapper.active .details{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

.details .row{
    display: flex;
    justify-content: space-between;
}

.details .row .column{
    width: calc(100% / 2 - 15px);
}

.row .column label{
    font-size: 1.06rem;
}

.sizes .column input{
    width: 100%;
    height: 49px;
    outline: none;
    margin-top: 7px;
    padding: 0 15px;
    font-size: 1.06rem;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.sizes .column input:focus{
    padding: 0 14px;
    border: 2px solid #927DFC;
}

.details .checkboxes{
    margin-top: 20px;
}

.checkboxes .column{
    display: flex;
    align-items: center;
}

.checkboxes .column input{
    width: 17px;
    height: 17px;
    margin-right: 9px;
    accent-color: #6a65a1;
}

.details .btn-download {
    width: 100%;
    text-transform: uppercase;
    font-size: 1.06rem;
    padding: 15px 0;
    margin: 30px 0 10px;
    letter-spacing: 0.5px;
    border-radius: 0.5rem;
    border: none;
    transition: all 0.3s ease 0s;
    outline: none !important;
    box-shadow: rgb(0 0 0 / 25%) 0 14px 28px, rgb(0 0 0 / 22%) 0 10px 10px;
}

.details .btn-download {
    border: solid 2px #70a1ff;
    color: #70a1ff;
}

.details .btn-download:hover {
    background-color: #70a1ff;
    box-shadow: 0px 15px 20px #7b9fe5;
    color: #fff;
    transform: translateY(-3px);
}