/**
 * @author : ShEnUx
 * @time : 09:39 PM
 * @date : 2/12/2023
 * @since : 0.1.0
 **/
/*
*Import Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: Ubuntu, sans-serif!important;
    font-weight: normal;
}

/**
 * Customized Scrollbar.
 */
::-webkit-scrollbar {
    width: 6px;
    background: #3f3838;
}

::-webkit-scrollbar-thumb {
    background: #b88962;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5C258D;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);
}

.wrapper{
    width: 450px;
    height: 288px;
    padding: 30px;
    background: #fff;
    border-radius: 9px;
    transition: height 0.2s ease;
}

.wrapper.active{
    height: 537px;
}

.wrapper .upload-box{
    height: 225px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #afafaf;
}
.wrapper.active .upload-box{
    border: none;
}

.upload-box p{
    font-size: 1.06rem;
    margin-top: 20px;
}

.wrapper.active .upload-box p{
    display: none;
}

